/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del formulario */
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Estilo de los títulos */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo de los fieldsets */
fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

/* Estilo de las leyendas */
legend {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo de los inputs y textarea */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
